@font-face {
  font-family: "Muller";
  font-weight:300;
  src: local("Muller"), 
  url(fonts/MullerLight.ttf) format("truetype"),
  url(fonts/MullerLight.woff) format("woff"), 
  url(fonts/MullerLight.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Muller";
  font-weight:400;
  src: local("Muller"), 
  url(fonts/MullerRegular.ttf) format("truetype"),
  url(fonts/MullerRegular.woff) format("woff"), 
  url(fonts/MullerRegular.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Muller";
  font-weight:500;
  src: local("Muller"), 
  url(fonts/MullerMedium.ttf) format("truetype"),
  url(fonts/MullerMedium.woff) format("woff"), 
  url(fonts/MullerMedium.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Muller";
  font-weight:700;
  font-style: italic;
  src: local("Muller"), 
  url(fonts/MullerBold.ttf) format("truetype"),
  url(fonts/MullerBold.woff) format("woff"), 
  url(fonts/MullerBold.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Raleway";
  font-weight:600;
  src: local("Raleway"), 
  url(fonts/Raleway-SemiBold.ttf) format("truetype"),
  url(fonts/Raleway-SemiBold.woff) format("woff"), 
  url(fonts/Raleway-SemiBold.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Raleway";
  font-weight:700;
  src: local("Raleway"), 
  url(fonts/Raleway-Bold.ttf) format("truetype"),
  url(fonts/Raleway-Bold.woff) format("woff"), 
  url(fonts/Raleway-Bold.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Raleway";
  font-weight:600;
  font-style: italic;
  src: local("Raleway"), 
  url(fonts/Raleway-SemiBoldItalic.ttf) format("truetype"),
  url(fonts/Raleway-SemiBoldItalic.woff) format("woff"), 
  url(fonts/Raleway-SemiBoldItalic.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Poppins";
  font-weight:300;
  src: local("Poppins"), 
  url(fonts/Poppins-Light.ttf) format("truetype"),
  url(fonts/Poppins-Light.woff) format("woff"), 
  url(fonts/Poppins-Light.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Poppins";
  font-weight:400;
  src: local("Poppins"), 
  url(fonts/Poppins-Regular.ttf) format("truetype"),
  url(fonts/Poppins-Regular.woff) format("woff"), 
  url(fonts/Poppins-Regular.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Poppins";
  font-weight:500;
  src: local("Poppins"), 
  url(fonts/Poppins-Medium.ttf) format("truetype"),
  url(fonts/Poppins-Medium.woff) format("woff"), 
  url(fonts/Poppins-Medium.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Poppins";
  font-weight:600;
  src: local("Poppins"), 
  url(fonts/Poppins-SemiBold.ttf) format("truetype"),
  url(fonts/Poppins-SemiBold.woff) format("woff"), 
  url(fonts/Poppins-SemiBold.woff2) format("woff2");
  font-display: swap;
} 

@font-face {
  font-family: "Poppins";
  font-weight:700;
  src: local("Poppins"), 
  url(fonts/Poppins-Bold.ttf) format("truetype"),
  url(fonts/Poppins-Bold.woff) format("woff"), 
  url(fonts/Poppins-Bold.woff2) format("woff2");
  font-display: swap;
} 